<.header>
  Published Items
  <:actions>
    <.link href={~p"/items/new"}>
      <.button>New Item</.button>
    </.link>
  </:actions>
<.link navigate={~p"/items/page/#{@prev}"}>prev</.link>  <.link navigate={~p"/items/page/#{@next}"}>next</.link>
</.header>

<.item_list items={@items} page={@page} prev={@prev} next={@next} />