<%= for item <- @items do %>
    <div class="card">
        <div class="card-header"><a href={"/items/#{item.id}"}><%= item.title %></a></div>
        <div class="card-body"><pre><%= item.body %></pre></div>
    <%= if item.images do %>
    <%= for image <- item.images do %>
    <img src={"https://sweetipfs.herokuapp.com/read?ipfscid=#{image.ipfscid}"} />
    <% end %>
    <% end %>
    </div>
<% end %>
