<.header>
  Write something!
  <:subtitle>you are required to add at least one tag, and if your content merits required tags and you neglect to tag it, you can lose tokes if they aren't included</:subtitle>
</.header>

<.file_upload />

<.item_form changeset={@changeset} action={~p"/items"} />

<.tag_selector known_tags={@known_tags} />

<.back navigate={~p"/items"}>Back to items</.back>
