<div class="wrapper">
<%= if @parent != nil do %>
<div class="parent-post">
    <%= @parent.headline %>
    <.link href={~p"/items/#{@parent.id}"} >
    link
    </.link>
</div>
<% end %>

<div class="item-wrapper lg:w-2/3 md:w-full">
    <.item item={@item} restricted_tags={@restricted_tags} tags={@tags} item_load_count={@item_load_count} address={@address} handle={@handle} />
</div>
    
<div class="item-reactions lg:w-1/3 md:w-full">
<.reactioncomponent item={@item} address={@address} />
</div>
<div class="search-suppressed">
<%= if @item.search_suppressed == true do %>
Search is suppressed, add 👍 and maybe it will be added to search results? (*not implemented)
<% end %>
</div>
<%= if @address != "" do %>
<div class="moderation-button pt-2 pr-2 "><button class="bg-teal-500 hover:bg-teal-600 text-white font-bold p-6 py-2 px-4 rounded-lg text-lg md:text-xl lg:text-2xl xl:text-3xl" phx-click={show_modal("moderation-modal")}>moderation</button></div>
<.modal id="moderation-modal">
<div class="item-moderation">
    <%= if @is_moderator == true do %>

    <.link href={~p"/moderate_item/#{@item.id}"} class="font-semibold text-brand hover:underline">
        Moderate Item
    </.link>
    <div class="feature-wrap">
    <div class="lg:w-1/3 md:w-full">
        <%= if @item.featured == true do %>
        <a href={@unfeature_link} class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">
        Remove from Featured
        </a>
        <%= else  %>
        <a href={@feature_link} class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">
        Feature
        </a>
        <% end %>
    </div>
    <div class="lg:w-2/3 md:w-full">
    As a moderator, you can promote content by featuring it.<br />
    Likewise you can unfeature items.<br />
    This action generates a logline.
    </div>
    </div>
    <% end %>

    <%= if @address != "" do %>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <.moderation_form changeset={@moderation_changeset} action={~p"/moderations"} />
    <% end %>
</div>
</.modal>
<div class="item-reply-form pt-2">
<.item_reply_form changeset={@changeset} action={~p"/items"} anon={@anon} known_tags={@known_tags} parent_id={@parent_id} />
</div>
<% end %>
<div class="item-replies">
<%= if @replies do %>
  <%= for reply <- @replies do %>
    <div class="reply"><%= reply.headline %>
    <.link href={~p"/items/#{reply.id}"} >
    link
    </.link>
    </div>
  <% end %>
<% end %>
</div>
</div>