<.item item={@item} restricted_tags={@restricted_tags} tags={@tags} item_load_count={@item_load_count} />

<div>Page Views<%= @item_load_count %></div>
<div id="your-reaction"></div>
<div class="reactions">
<ul> 
<%= for reaction <- @item.reactions do %>
<li><%= reaction.emoji %><span class="reaction-count"><%= reaction.count %></span></li>
<% end %>
</ul>
</div>
<div class="add-reactions">
<div id="emoji-trigger">☀️your reactions🌑</div>
<input type="hidden" id="item_id" value={@item.id}>
<input type="hidden" id="address" value={@address}>
</div>
<%= if @item.search_suppressed == true do %>
Search is suppressed, add 👍 and maybe it will be added to search results? (*not implemented)
<% end %>

<%= if @address != "" do %>
<.moderation_form changeset={@moderation_changeset} action={~p"/moderations"} />
<% end %>