<.header>
<%= for rt <- @restricted_tags do %>
  <button 
    class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">
    <%= rt %>
  </button>
<% end %>
<%= for t <- @tags do %>
<%= t %>
<% end %>
  <%= @item.headline %>
  <:subtitle>From.</:subtitle>
  <:actions>
    <.link href={~p"/items/#{@item}/edit"}>
      <.button>Edit item</.button>
    </.link>
  </:actions>
</.header>

<%= if @item.images do %>
  <%= for image <- @item.images do %>
  <img src={"https://sweetipfs.herokuapp.com/read?ipfscid=#{image.ipfscid}"} />
  <% end %>
<% end %>
<div id="item-contents">
<.list>
  <:item title="Headline"><%= @item.headline %></:item>
  <:item title="Body"><%= @item.body %></:item>
  <:item title="Source"><%= @item.source %></:item>
</.list>
</div>
<div id="translation">
</div>
<.button id="translate">Translate</.button>
<br />
<div>Page Views<%= @item_load_count %></div>
<div id="your-reaction"></div>
<div class="reactions">
<ul> 
<%= for reaction <- @item.reactions do %>
<li><%= reaction.emoji %><span class="reaction-count"><%= reaction.count %></span></li>
<% end %>
</ul>
</div>
<div class="add-reactions">
<div id="emoji-trigger">☀️your reactions🌑</div>
<input type="hidden" id="item_id" value={@item.id}>
<input type="hidden" id="address" value={@address}>
</div>
<%= if @item.search_suppressed == true do %>
Search is suppressed, add reactions and maybe it will be added to search results?
<% end %>

<%= if @address != "" do %>
<.moderation_form changeset={@moderation_changeset} action={~p"/moderations"} />
<% end %>

<%= if @is_moderator == true do %>
  <%= for moderation <- @item.moderations do %>
  <li><%= moderation.category %> <%= moderation.reason %></li>
  <% end %>
<% end %>