<.header>
  New Search
  <:subtitle>Use this form to manage search records in your database.</:subtitle>
</.header>

<.search_form changeset={@changeset} action={~p"/searches"} />

<.back navigate={~p"/searches"}>Back to searches</.back>
