<p>So say you did use this site, and  you clicked "subscribe" on another user's page? their items would show here. all the folks you subscibe to, you'd see when they publish, here.</p>
<p>&nbsp;</p>
<.item_list items={@subscribed_items} />