<.header>
  Listing Tags U Made
  <:actions>
    <.link href={~p"/moderator/create_tag"}>
      <.button>New Tag</.button>
    </.link>
  </:actions>
</.header>


<.table id="tags" rows={@tags}>
  <:col :let={tag} label="Label"><%= tag.label %></:col>
  <:col :let={tag} label="Slug"><%= tag.slug %></:col>
</.table>
