@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.reactions {
    max-width: 376px;
}

.reactions ul li{
    list-style: none;
    float: left;
    padding-right: 10px;
}

.reaction-count {
    font-size: 8px;
}

.add-reactions {
    clear:both;
    margin-bottom: 5%;
}

.smol {
    font-size: smaller;
}

hr {
    border: none;
    height: 5px;
    /* Set the hr color */
    color: #333;  /* old IE */
    background-color: #333;  /* Modern Browsers */
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ff0000;  
}

.item-reactions, .item-moderation {
    width: 50%;
    min-height: 200px;
    border: 1px solid #2f00ff;  
}

.item-reactions {
    width: 100%;
    min-height: 300px;
    border: 1px solid #00eaff;  
    clear: both;
}