<div id="imageholder"></div>
<div class="imageuploader">
<form action="https://sweetipfs.herokuapp.com/create" method="post" id="file-form" enctype="multipart/form-data">
  <input type="file" id="upload">
  <input type="submit" value="Upload">
</form>
</div>
