<div id="imageholder"></div>
<div class="imageuploader">
<form action="http://sweetipfs.herokuapp.com/create" method="post" id="file-form" enctype="multipart/form-data">
  <input type="file" id="upload" name="upload">
  <input type="submit" value="Add Image">
</form>
</div>
