<%= if @items do %>
  <%= for item <- @items do %>
  <div class="profile-item">
  <.link navigate={~p"/items/#{item}"}>
  <%= item.headline %>
  <%= if item.images do %>
    <%= for image <- item.images do %>
    <img src={"https://sweetipfs.herokuapp.com/read?ipfscid=#{image.ipfscid}"} />
    <% end %>
  <% end %>
  </.link>
  </div>
  <% end %>
<% end %>
