

<.table id="streets" rows={@streets} row_click={&JS.navigate(~p"/streets/#{&1}")}>
  <:col :let={street} ><%= street.search %></:col>
  <:action :let={street}>
    <div class="sr-only">
      <.link navigate={~p"/streets/#{street}"}>Show</.link>
    </div>
  </:action>
</.table>
