<.header>
  New Street
  <:subtitle>Use this form to manage street records in your database.</:subtitle>
</.header>

<.street_form changeset={@changeset} action={~p"/streets"} />

<.back navigate={~p"/streets"}>Back to streets</.back>
