<div class="mx-auto max-w-sm">
<p>Okay, i hope you see  below, an "address" that starts with <i>cosmos</i>.</p>
<p>&nbsp;</p>
<p>I will send tokes to that address when you do things like react to tweeeeets and create content, etc. Sometimes, things you do take tokes but that's just a wip rn. It will be fun i hope!</p>
<p>&nbsp;</p>
<h3>address: <%= @address %></h3>
<p>&nbsp;</p>
<p>You don't have to remember this or anything, just registering you rn... speaking of which, now please <a href="/"> fill out your profile?</a> Set your handle at a minimum because i have a feeling I'll make you a moderator and there's a "moderator log" that will use your handle.</p>
</div>
