<div class="mx-auto max-w-sm">
show profile

<%= if @user.profile_pic_cid do %>
  <img src={"https://sweetipfs.herokuapp.com/read?ipfscid=#{@user.profile_pic_cid}"} />
<% end %>
<.list>
  <:item title="address"><%= @user.address %></:item>
  <:item title="age"><%= @user.age %></:item>
  <:item title="handle"><%= @user.handle %></:item>
  <:item title="blurb"><%= @user.blurb %></:item>
  <:item title="location"><%= @user.location %></:item>
</.list>
</div>
